.table-top{
    input{
        float: right;
        padding: 4px;
    }

}
.title-table{
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.input-update{
    width: 100%;
    font-size: 15px;
    padding: 4px;
}