.link-image {
    display: inline-block;
    border: 1px solid #fff;
    img {
        max-width: 120px;
        height: 100%;
    }
    &:hover {
        border: 1px solid red;
    }
    
}
.filter-options{
    ol {
        list-style: none;
        margin-bottom: 0;
    }
    li {
        display: inline-block;

    }
    a{
        border: 0.5px solid #eee;
        padding: 5px 15px;
        display: inline-block;
        text-decoration: none;
        color: black;
        border-radius: 20px;
        &:hover {
            color: #fff;
            background-color: #be1e2d;
        }
    }
}
