.search-bar {
    background-color: white;
    border-radius: 100px;
    padding: 4px;
    display: flex;
    align-items: center;
    input[type="search"] {
        border-radius: 100px;
        width: 95%;
        margin-left: 10px;
        border: none;
        outline: none;
    }
    button[type="submit"] {
        background: none;
        border: none;
        &:hover {
            color: rgb(56, 55, 55)
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    .search-bar {
        position: absolute;
        left: 52%;
        width: 200px;
    }
    .cropLongText {
        width: 0px!important; 
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .search-bar {
        position: absolute;
        left: 42%;
        width: 300px;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .search-bar {
        width: 30%;
        position: absolute;
        left: 600px;
    }
 }
@media (min-width: 1400px) { 
    .search-bar {
        width: 25%;
        position: absolute;
        left: 800px;
    }
 }
 .btn-account {
     background-color: transparent;
     border: none;
 }
 .btn-account:hover{
    color: black;
 }
 .cropLongText{
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width: 140px; 
 }