.form-login {
    display: flex;
    flex-direction: column;
}
.form-action {
    display: flex;
    justify-content: space-between;
}
.anchor-text {
    color: #0066CC;
    cursor: pointer;
}
.errorValidate {
    // max-width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    color:rgb(248, 106, 106);
}
.confirmRegister {
    color:rgb(152, 211, 112);
    margin-top: 16px;
    margin-bottom: 4px;
}