body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2!important;
  height: 4000px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slick-prev:hover, .slick-next:hover {
  opacity: 1!important;
  color: black!important;
}
.slick-prev:before, .slick-next:before {
  font-size: 33px!important;
  line-height: 1!important;
  color: rgb(212, 209, 209)!important;
}
p {
  margin: 0;
}
